body {
    background: linear-gradient(#fff, #ffffff99), url('./logo.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.table {
    box-shadow: 2px 2px 5px 1px;
}
.color {
    width: 18px;
    height: 18px;
    border-radius: 8px;
    background-color: blue;
    border: 2px solid rgba(0, 0, 0, .15);
    vertical-align: middle;
}

.patente {
    text-transform: uppercase;
    font-weight: 500;
    background: #eee;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 0 8px;
    vertical-align: middle;
}

dialog {
    z-index: -1;
    overflow: visible;
    border: 0;
    border-radius: 8px;
    /* background: linear-gradient(#f1f7f4, #c3c9c1); */
    background: transparent;
}

dialog::backdrop {
    background-color: #00000080;
}

.card {
    background: linear-gradient(#f1f7f4, #c3c9c1);
}

.form-select {
    --bs-form-select-bg-img: #fff;
    padding: 5px 5px 0 5px;
}

select#tipo_visita {
    z-index: 4;
}

i.peaton {
    font-family: fontAwesome;
    background-color: red;
    height: 30px;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}